// Перебивання дефолтних стилів календаря:

.air-datepicker.custom-air-datepicker {
  --adp-cell-background-color-selected: #4440f6;
  --adp-color-current-date: #4440f6;
  --adp-cell-background-color-selected-hover: #4440f6;
  --adp-color: #000000;
  --adp-nav-color-secondary: #000000;
  --adp-transition-offset: -10px;

  width: 250px;
  border: none;
  border-radius: 20px;
  background: #f8f8f8;
  box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.1);
}

.air-datepicker--pointer {
  display: none;
}
