// Перебивання дефолтних стилів календаря:

.air-datepicker.custom-air-datepicker {
  --adp-cell-background-color-selected: #4440f6;
  --adp-color-current-date: #4440f6;
  --adp-cell-background-color-selected-hover: #4440f6;
  --adp-color: #000000;
  --adp-nav-color-secondary: #000000;
  --adp-transition-offset: -10px;

  width: 250px;
  border: none;
  border-radius: 20px;
  background: #f8f8f8;
  box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.1);
}

.air-datepicker--pointer {
  display: none;
}

// стилі для сторінки, яка завантажується, якщо нічого не знайдено по вибраній даті

.no-results-header {
  margin: 121px 366px 40px 366px;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 55px;
  text-align: center;
  letter-spacing: -0.01em;

  color: #111321;
}

.no-results-img {
  margin: 0 339px 372px;
  width: 600px;
  height: 478px;
}
