@font-face {
  font-family: Manrope400;
  src: url(../fonts/Manrope-Regular.ttf);
}

@font-face {
  font-family: Manrope500;
  src: url(../fonts/Manrope-Medium.ttf);
}

@font-face {
  font-family: Manrope700;
  src: url(../fonts/Manrope-Bold.ttf);
}

@font-face {
  font-family: Poppins400;
  src: url(../fonts/Poppins-Regular.ttf);
}

@font-face {
  font-family: Roboto400;
  src: url(../fonts/Roboto-Regular.ttf);
}
