/*  my Variables */

$lightBackgroundColor: #f4f4f4;
$darkBackgroundColor: #2e2e2e;

$lightPrimaryTextColor: #111321;
$darkPrimaryTextColor: #f4f4f4;

$primaryAccentColor: #4440f6;

$placeholderColor: #999aa0;

$basicTransitionTimeFunc: 250ms cubic-bezier(0.4, 0, 0.2, 1);
$themeTransitionTimeFunc: 500ms cubic-bezier(0.4, 0, 0.2, 1);

/*  ----------------------  Header  --------------------------  */

body {
  transition: color $themeTransitionTimeFunc,
    background-color $themeTransitionTimeFunc;
}

.header {
  position: relative;
  z-index: 11;
  height: 82px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  background-color: inherit;

  @media screen and (min-width: 768px) {
    height: 106px;
  }

  @media screen and (min-width: 1280px) {
    height: 114px;
  }
}

.header .container {
  display: flex;
  align-items: center;

  padding: 24px 16px;

  @media screen and (min-width: 768px) {
    padding-top: 32px;
    padding-bottom: 28px;
  }

  @media screen and (min-width: 1280px) {
    padding-top: 32px;
  }
}

/*  ----------------------  Logo  -------------------------  */

.logo {
  margin-right: auto;

  font-family: Manrope700;
  font-size: 24px;
  line-height: calc(32 / 24);

  @media screen and (min-width: 768px) {
    margin-right: 0;

    font-size: 32px;
    line-height: calc(44 / 52);
  }

  @media screen and (min-width: 1280px) {
    font-size: 42px;
    line-height: calc(54 / 42);
  }
}

/*  --------------------------  Menu button  -----------------------  */

.menu-btn {
  width: 24px;
  height: 24px;
  margin-left: 14px;
  padding: 2px;

  position: relative;
  z-index: auto;
  overflow: hidden;

  border: none;
  background-color: transparent;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .js-scrollBlock {
    overflow: hidden;
  }
}

.menu-btn__line {
  width: 18px;
  height: 2px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $lightPrimaryTextColor;
  transition: transform $basicTransitionTimeFunc, top $basicTransitionTimeFunc;

  body.dark-theme & {
    background-color: $darkPrimaryTextColor;
  }
}

.menu-btn__line--1 {
  transform: translate(-50%, -50%) scale(1);
  transform-origin: center;
}

.menu-btn__line--2 {
  top: calc(50% - 6px);
}

.menu-btn__line--3 {
  top: calc(50% + 6px);
}

// Transform button when menu isActive

.menu-btn.isOpen {
  & .menu-btn__line--1 {
    transform: translate(-50%, -50%) scale(0);
  }
  & .menu-btn__line--2 {
    top: 50%;
    transform: translate(-50%, 0%) rotate(45deg);
  }

  & .menu-btn__line--3 {
    top: 50%;
    transform: translate(-50%, 0%) rotate(-45deg);
  }
}

/*  -----------------------  Navbar -----------------------  */

.nav {
  display: none;

  @media screen and (min-width: 768px) {
    margin-left: 48px;

    display: flex;
    gap: 44px;

    font-family: Manrope700;
    font-size: 16px;
    line-height: calc(22 / 16);
  }

  @media screen and (min-width: 1280px) {
    margin-left: 102px;

    font-size: 18px;
    line-height: calc(25 / 18);
  }
}

.nav__item {
  position: relative;
}

.nav__link {
  display: block;
  padding: 5px 0;

  &:hover,
  &:focus {
    &::after {
      content: '';

      height: 1px;
      width: 100%;

      position: absolute;
      bottom: 0;
      left: 0;

      background-color: $primaryAccentColor;
    }
  }

  &--current::after {
    content: '';

    height: 1px;
    width: 100%;

    position: absolute;
    bottom: 0;
    left: 0;

    background-color: $primaryAccentColor;
  }
}

/*  ----------------------  Search form  ---------------------------  */

.search-form {
  margin-left: auto;

  position: relative;

  overflow: hidden;

  @media screen and (max-width: 767px) {
    &.isHidden {
      display: none;
    }
  }

  @media screen and (min-width: 768px) {
  }

  @media screen and (min-width: 1280px) {
  }
}

.search-form__icon {
  fill: currentColor;
}

.search-form__input {
  width: 175px;
  height: 30px;
  padding: 5px 5px 5px 48px;

  border: 1px solid $lightPrimaryTextColor;
  border-radius: 15px;

  color: inherit;
  background-color: inherit;

  opacity: 1;

  transition: opacity $basicTransitionTimeFunc,
    padding $basicTransitionTimeFunc 250ms, width $basicTransitionTimeFunc 250ms,
    border-color $themeTransitionTimeFunc;

  &::placeholder {
    opacity: 0;
  }

  &:hover,
  &:focus {
    outline: none;
  }

  body.dark-theme & {
    border-color: $darkPrimaryTextColor;
  }

  @media screen and (max-width: 767px) {
    .search-form.closed & {
      width: 30px;
      padding: 0;
      opacity: 0;
    }
  }

  @media screen and (min-width: 768px) {
    width: 215px;
  }

  @media screen and (min-width: 1280px) {
    width: 288px;
  }
}

.search-form__btn {
  width: 20px;
  height: 20px;
  padding: 0;

  position: absolute;
  top: 5px;
  left: 12px;
  z-index: auto;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid transparent;
  border-radius: 50%;
  background-color: inherit;

  transition: left $basicTransitionTimeFunc 250ms;

  @media screen and (max-width: 767px) {
    .search-form.closed & {
      left: 5px;
    }
  }
}

.search-form__placeholder {
  height: 20px;
  padding-right: 8px;

  position: absolute;
  top: 5px;
  left: 48px;

  pointer-events: none;

  display: flex;
  align-items: center;

  color: $placeholderColor;
  background-color: transparent;

  border-right: 1px solid $placeholderColor;

  transition: opacity $basicTransitionTimeFunc 500ms;

  @media screen and (max-width: 767px) {
    .search-form.closed & {
      opacity: 0;
    }
  }

  .search-form__input:not(:placeholder-shown) ~ & {
    display: none;
  }
}

/*  ----------------------  Theme-toggler  -----------------------  */

.theme-toggler {
  display: flex;
  gap: 8px;

  @media screen and (max-width: 767px) {
    margin-top: auto;
    margin-bottom: 18px;
    margin-left: 16px;
  }

  @media screen and (min-width: 768px) {
    margin-left: auto;
  }
}

.theme-toggler__pretext,
.theme-toggler__posttext {
  display: none;

  @media screen and (min-width: 1280px) {
    display: block;
  }
}

.theme-toggler__preinfo {
  color: #4b48d8;

  transition: color 500ms cubic-bezier(0.4, 0, 0.2, 1);

  .theme-toggler.isActive & {
    color: #5f6775;
  }
}

.theme-toggler__postinfo {
  color: #5f6775;

  transition: color 500ms cubic-bezier(0.4, 0, 0.2, 1);

  .theme-toggler.isActive & {
    color: #4b48d8;
  }
}

.theme-toggler__text {
  display: none;

  color: inherit;
  @media screen and (min-width: 1280px) {
    display: block;
  }
}

.theme-toggler__icon {
  color: inherit;
  fill: currentColor;

  @media screen and (min-width: 1280px) {
    display: none;
  }
}

.theme-toggler__toggle-icon {
  height: 20px;
  width: 40px;

  position: relative;

  display: flex;
  align-items: center;

  background-color: #f4f4f4;
  border: 1px solid var(--accent-third-color);
  border-radius: 10px;

  transition: background-color 500ms cubic-bezier(0.4, 0, 0.2, 1),
    border 500ms cubic-bezier(0.4, 0, 0.2, 1);

  .theme-toggler.isActive & {
    background-color: #4b48d8;
    border: 1px solid #ffffff;
  }

  &::after {
    content: '';
    height: 16px;
    width: 16px;

    position: absolute;
    // top: 1px;
    left: 2px;

    transform: translateX(0);

    background-color: #4b48d8;
    border-radius: 8px;

    transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1),
      background-color 500ms cubic-bezier(0.4, 0, 0.2, 1);

    .theme-toggler.isActive & {
      transform: translateX(18px);
      background-color: #ffffff;
    }
  }
}

/*  ------------------------  Mobile Menu  -------------------------  */

.mobile-menu {
  position: absolute;
  z-index: 10;
  top: 82px;
  bottom: 0;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background-color: inherit;

  transform: translateY(-100%);
  transition: transform 250ms ease;

  border-bottom: 1px solid rgba(0, 0, 0, 0.2);

  overflow-y: scroll;

  &.isOpen {
    transform: translateY(0);
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.mobile-nav {
  padding: 44px 0;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.mobile-nav__item {
}

.mobile-nav__link {
  display: block;
}

.mobile-nav__link:hover,
.mobile-nav__link:focus {
  background-color: $primaryAccentColor;
  color: $darkPrimaryTextColor;
}

.mobile-nav__container {
  height: 44px;
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
  padding-top: 6px;
  padding-bottom: 6px;
  display: flex;
  align-items: center;
  gap: 13px;
}

.mobile-nav__icon-wrapper {
  height: 32px;
  width: 32px;

  color: black;
  background-color: $primaryAccentColor;
  border-radius: 16px;
}

.mobile-nav__icon {
  fill: currentColor;
}
