.tui-pagination .tui-ico-first,
.tui-pagination .tui-ico-prev,
.tui-pagination .tui-ico-next,
.tui-pagination .tui-ico-last,
.tui-pagination .tui-ico-ellip {
  display: flex;
  align-items: center;
  gap: 4px;
  justify-content: center;
  font-size: 16px;
}

.tui-ico-next::after {
  content: '>';
  font-size: 22px;
  transition: transform 250ms linear;
}
.tui-ico-prev::before {
  content: '<';
  font-size: 22px;
  transition: transform 250ms linear;
}

// -------------------------------------------
.tui-pagination.pag {
  margin: 40px 0 60px;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  @media screen and (min-width: 768px) {
    margin: 48px 0 100px;
    gap: 8px;
  }
  @media screen and (min-width: 1280px) {
    margin: 60px 0 150px;
  }
}

.tui-pagination > .tui-page-btn.pag {
  display: flex;
  color: initial;
  background-color: var(--primary-light-color);
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  border: 1px solid var(--accent-primary-color);
  border-radius: 2px;
  font-family: 'Manrope500', sans-serif;
  font-size: 14px;
  line-height: 1.36;
  @media screen and (min-width: 768px) {
    width: 33px;
    height: 31px;
  }
}

.tui-pagination > .tui-page-btn.tui-is-selected.pag {
  color: var(--primary-light-color);
  background-color: var(--accent-primary-color);
}

.tui-pagination > .tui-page-btn.tui-prev.pag,
.tui-pagination > .tui-page-btn.tui-next.pag {
  font-family: 'Manrope500', sans-serif;
  // background-color: var(--primary-light-color);
  text-transform: capitalize;
  color: initial;
  font-size: 14px;
  line-height: 1.36;
  width: 72px;
  height: 28px;
  transition: transform 250ms linear;
  // margin: 0;
  border: 1px solid var(--accent-primary-color);
  @media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: 1.38;
    border-radius: 2px;
    width: 82px;
    height: 31px;
  }
}

.tui-pagination > .tui-page-btn.tui-first.pag,
.tui-pagination > .tui-page-btn.tui-last.pag {
  font-family: 'Manrope500', sans-serif;
  color: initial;
  text-transform: capitalize;
  font-size: 16px;
  line-height: 1.38;
  // background-color: var(--primary-light-color);
  border: 1px solid var(--accent-secondary-color);
  border-radius: 2px;
  width: 82px;
  height: 31px;

  @media screen and (max-width: 767px) {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
  }
}

.tui-page-btn.pag:hover {
  transform: scale(1.05);
  transition: transform 250ms linear;
  background-color: rgba(254, 254, 255, 0.6);
}
.tui-page-btn.pag:hover .tui-ico-next::after {
  content: '>';
  transform: translateX(8px);
  transition: transform 250ms linear;
}
.tui-page-btn.pag.tui-is-disabled:hover .tui-ico-next::after {
  content: '>';
  transform: translateX(0px);
  transition: transform 250ms linear;
}
.tui-page-btn.pag:hover .tui-ico-prev::before {
  content: '<';
  transform: translateX(-8px);
  transition: transform 250ms linear;
}
.tui-page-btn.pag.tui-is-disabled:hover .tui-ico-prev::before {
  content: '<';
  transform: translateX(0px);
  transition: transform 250ms linear;
}
.tui-page-btn.pag:focus {
  transform: scale(1.05);
  transition: transform 250ms linear;
  background-color: rgba(254, 254, 255, 0.6);
}
.tui-page-btn.pag.tui-is-selected:hover {
  transform: scale(1);
  transition: transform 250ms linear;
}
.tui-page-btn.pag.tui-is-selected:focus {
  transform: scale(1);
  transition: transform 250ms linear;
}
.tui-page-btn.pag {
  transition: transform 250ms linear;
}
.tui-page-btn.tui-last {
  transition: transform 250ms linear;
}
.tui-page-btn.tui-first {
  transition: transform 250ms linear;
}

.tui-page-btn.pag:hover.tui-is-disabled {
  transform: scale(1);
  background-color: var(--primary-light-color);
}
.tui-page-btn.pag:focus.tui-is-disabled {
  transform: scale(1);
  background-color: var(--primary-light-color);
}
.tui-pagination > .tui-page-btn.pag.tui-is-disabled {
  cursor: default;
  background-color: rgba(219, 219, 219, 0.426);
  border: 1px solid rgba(157, 157, 157, 0.737);
}
