// .active {
//     display: none;
// }

.dateList-wrap {
  margin-top: 40px;

  @media screen and (min-width: 768px) {
   margin-top: 48px;
  }

  @media screen and (min-width: 1280px) {
  margin-top: 60px;
  }
}

.span-wrap {
  display: flex;

  min-width: 100%;
  border-bottom: 1px solid #929292;
  margin-bottom: 28px;
  //   margin-top: 60px;

  @media screen and (min-width: 768px) {
  margin-bottom: 30px;
  }

  @media screen and (min-width: 1280px) {
  margin-bottom: 40px;
  }


}

.arrow {
  display: inline-block;
  margin-left: 12px;
  width: 11px;
  height: 11px;

  border-bottom: 2px solid #111321;
  border-right: 2px solid #111321;

  transform-origin: center;
  transform: rotate(45deg) translateY(-3px) translateX(-1px);
  transition: transform 500ms ease-in;

  @media screen and (min-width: 768px) {
    transform: rotate(45deg) translateY(-3px) translateX(-1px);
  }

  @media screen and (min-width: 1280px) {
    transform: rotate(45deg) translateY(-3px) translateX(-1px);
  }

  body.dark-theme & {
    border-color: rgba(244, 244, 244, 1);
  }
}

.arrow-bot {
  transform-origin: center;
  transform: rotate(225deg) translateY(-1px) translateX(-5px);
  transition: transform 500ms ease-in;

  @media screen and (min-width: 768px) {
    transform: rotate(225deg) translateY(-1px) translateX(-5px);
  }

  @media screen and (min-width: 1280px) {
    transform: rotate(225deg) translateY(-1px) translateX(-5px);
  }
}

.date-span {
  margin-bottom: 12px;
  cursor: pointer;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.02em;

  color: #111321;

  body.dark-theme & {
    color: rgba(244, 244, 244, 1);
  }
}

.wrap-list {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
  margin-top: 20px;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }

  @media screen and (min-width: 1280px) {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
  }
}

.open {
  max-height: 5000px;
  transition: max-height 0.9s cubic-bezier(0.4, 0, 0.2, 1);
}
