// ------Klimenko-----


.box-weather__item {
  position: relative;
  background-color: var(--accent-secondary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--third-font);
  border-radius: 4px;
  @media screen and (max-width: 767px) {
    margin-bottom: 28px;
    height: 469px;
  }
  @media screen and (min-width: 768px) {
    width: calc((100% - 30px) / 2);
  }
  @media screen and (min-width: 1280px) {
    width: calc((100% - 64px) / 3);
  }
}

.weather__wrap{
display: flex;
justify-content: center;
text-align: center;
margin: 40px auto;
height: 86px; 
}
.weather-temp {
  display: inline-block;
  font-size: 64px;
  line-height: 75px;
  text-align: center;
  color: var(--secondary-light-color);
  padding-right: 8px;
   height: 84px;
  @media screen and (max-width: 767px) {
    font-size: 55px;
    line-height: 64px;
    height: 64px;
  }
}
.weather-city-group {
  border-left: 1px solid var(--secondary-light-color);
  padding-left: 8px;
  height: 84px;
  @media screen and (max-width: 767px) {
    height: 64px;
  }
}

.weather-main {
  margin-left: 7px;
  width: 99px;
  height: 42px;
  font-family: var(--third-font);
  font-size: 36px;
  line-height: 42px;
  color: var(--secondary-light-color);
  @media screen and (max-width: 767px) {
    font-size: 24px;
    line-height: 28px;
    width: 66px;
    height: 28px;
  }
}

.weather-icon {
  position: absolute;
  display: flex;
  width: 165px;
  height: 165px;
  mix-blend-mode: normal;
  margin-top: 215px;
  @media screen and (max-width: 767px) {
    margin-top: 150px;
  }
}
.weather-day {
  position: absolute;
  width: 199px;
  height: 42px;
  margin-top: 461px;
  font-family: var(--third-font);
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  overflow-wrap: break-word;
  color: var(--secondary-light-color);
  text-align: center;
  justify-content: center;
  @media screen and (max-width: 767px) {
   
    margin-top: 319px;
    font-size: 28px;
    line-height: 33px;
  }
}

.weather-data {
  position: absolute;
  width: 209px;
  height: 42px;
  margin-top: 503px;
  font-family: var(--third-font);
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  color: var(--secondary-light-color);
  @media screen and (max-width: 767px) {
    margin-top: 352px;
    font-size: 28px;
    line-height: 33px;
  }
}

.search-form {
  position: relative;
  display: flex; 
  justify-content: center;
  align-items: center;
  gap: 5px;
}
#search-box {
  width: 177px;
  height: 42px;
  border: none;
  background: var(--weather-btn-color);
  border-radius: 10px;
  font-family: var(--third-font);
  font-size: 20px;
  line-height: 23px;
  color: var(--secondary-light-color);
  cursor: pointer;
  @media screen and (max-width: 767px) {
    font-size: 14px;
    line-height: 16px;
    width: 121px;
    height: 34px;
  }
}
#search-box:hover {
  color: #ffffff;
  background: var(--weather-accent-color);
}
#search-box:focus,
#search-box:active {
  
  color: #ffffff;
  border: none;
  border-bottom: 2px solid #eee;
  padding-left: 42px;
  background: var(--weather-accent-color);
  outline: none;
  font-size: 19px;
}

#search-box::placeholder {
  color: #ffffff;
  font-family: var(--third-font);
  padding-left: 30px;
  font-size: 20px;
  line-height: 23px;
  @media screen and (min-width: 767px) {
   padding-left: 42px;
  }
  
}

#search-box:placeholder-shown {
   border-color: #ffffff;
   
}
.icon-carbon_location {
  position: absolute;
  top: 6px;
  left: 8px;

  fill: currentColor;
  @media screen and (min-width: 768px) {
    width: 28px;
    height: 28px;
  }
}

// ========
.forecast__btn {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  bottom: 32px;
  width: 152px;
  height: 34px;
  margin: 0 auto;
  background: var(--weather-btn-color);
  border-radius: 10px;
  border: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  color: var(--secondary-light-color);
  @media screen and (min-width: 768px) {
    bottom: 60px;
    width: 184px;
    height: 42px;
    font-size: 20px;
    line-height: 1.15;
  }
  &:hover,
  &:focus {
    background: var(--weather-accent-color);
  }
}


.forecast {
  position: absolute;
  z-index: 4;
  opacity: 0;
  top: 16px;
  right: 12px;
  visibility: collapse;
  pointer-events: none;
  transition: var(--timing-function);
  &.is-open {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 16px 12px;
    border-radius: 4px;
    background-color: var(--accent-primary-color);
    color: var(--secondary-light-color);
    font-weight: 400;
    font-size: 24px;
    line-height: 1.17;
    opacity: 1;
    visibility: visible;
     transition: all 0.25s ease-out 0.1s;
    pointer-events: all;
    @media screen and (min-width: 768px) {
      padding: 32px 20px;
    }
  }
}

.forecast-close__btn {
  position: absolute;
  z-index: 2;
  top: -24px;
  right: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background-color: transparent;
  border: none;
  color: var(--secondary-light-color);
  transform: translateY(100%);
  transition: transform 3s ease-out 0.5s;

  @media screen and (min-width: 768px) {
    top: -8px;
  }
  &:hover,
  &:focus {
    background: var(--weather-accent-color);
  }
}
.close__icon {
  fill: currentColor;
  height: 22px;
  color: var(--secondary-light-color);
}
/* ----------------------------------------------------- */
.current-weather {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  margin-bottom: 40px;
  @media screen and (min-width: 768px) {
    margin-bottom: 48px;
  }
}
.current-weather__location {
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: center;
  margin-bottom: 12px;
  width: 100%;
  font-size: 16px;
  color: var(--secondary-light-color);
  @media screen and (min-width: 768px) {
    font-size: 18px;
    margin-right: 20px;
    margin-bottom: 16px;
  }
}
.current-weather__img {
  width: 50px;
  height: 50px;
  margin-right: 12px;
  margin-bottom: 8px;
  @media screen and (min-width: 768px) {
    width: 70px;
    height: 70px;
    margin: 0 16px 16px 8px;
  }
}
.current-weather__temp {
  height: 60px;
  margin: 0 12px 8px 0;
  text-align: center;
  font-weight: 400;
  font-size: 54px;
  line-height: 1.16;
  @media screen and (min-width: 768px) {
    height: 70px;
    margin-right: 12px;
    margin-bottom: 16px;
  }
}
.current-weather__wrapp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
  margin-bottom: 12px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  color: var(--secondary-light-color);
  @media screen and (min-width: 768px) {
    margin-bottom: 16px;
    font-size: 18px;
    line-height: 1.18;
  }
}
.current-weather__humidity {
  display: flex;
  gap: 4px;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-size: 10px;
  line-height: 1.14;
  @media screen and (min-width: 768px) {
    font-size: 12px;
    line-height: 1.15;
  }
}
/* -------------------------------------------------- */
.forecast__list {
  display: flex;
  flex-direction: column;
}
.forecast__item {
  display: flex;
  gap: 8px;
  justify-content: space-around;
  align-items: center;
  height: 40px;
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  color: var(--secondary-light-color);
  @media screen and (min-width: 768px) {
    gap: 8px;
    height: 60px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    font-size: 16px;
  }
  &:not(:last-child) {
    border-bottom: 1px solid gray;
  }
}
.forecast__date {
  display: flex;
  gap: 6px;
  flex-direction: column;
  align-items: center;
  width: 56px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  color: var(--secondary-light-color);
  @media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: 1.14;
  }
}
.forecast__img {
  width: 40px;
}
.forecast__pop {
  display: flex;
  width: 68px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  @media screen and (min-width: 768px) {
    width: 76px;
  }
}
.forecast-umbrella__icon {
  text-align: end;
  fill: var(--primary-dark-color);
}
.forecast__temp {
  width: 36px;
  text-align: end;
  @media screen and (min-width: 768px) {
    width: 42px;
  }
}
.forecast-hours__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: transparent;
  border: none;
  color: inherit;
  &:hover,
  &:focus {
    background: var(--weather-accent-color);
  }
}
.arrow_down__icon {
  width: 20px;
  fill: currentColor;
}
