// ------Klimenko-----

.box {
  position: relative;
  border: 2px;
  background-color: var(--accent-secondary-color);
  justify-content: center;
}

.box-weather__item{
    display: flex;
    // flex-wrap: wrap;
    border: 2px;
  @media screen and (max-width: 767px) {
    margin-bottom: 28px;
    height: 469px;
  }
  @media screen and (min-width: 768px) {
    width: calc((100% - 30px) / 2);
  }
  @media screen and (min-width: 1280px) {
    width: calc((100% - 64px) / 3);
  }

}
.weather-temp{
  font-family: var(--third-font);
  font-size: 64px;
  line-height: 75px;
  color: var(--secondary-light-color);
  width: 96px;
  height: 75px;
  margin-left: 53px;
  margin-top: 45px;
  @media screen and (max-width: 767px) {
    font-size: 55px;
    line-height: 64px;
    width: 60px;
    height: 64px;
    margin-left: 0px;
    margin-top: 40px;
  }
  @media screen and (min-width: 768px) {
    margin-left: 32px;
    width: 81px;
  }

}

.weather-temp::after{
  margin-left: 8px;
  margin-top: 45px;
  width: 81px;
  height: 0px;
  border: 1px solid var(--secondary-light-color);
  transform: rotate(90deg); 
  content: "";
  background:  var(--weather-btn-color);
  @media screen and (max-width: 767px) {
     margin-top: 37px;
  }

}
.weather-city-group{ 
  margin-left: 8px;
  margin-top: 40px;
  height: 84px;
  @media screen and (max-width: 767px) {
    // margin-left: 36px;
     margin-top: 37px;
     height: 64px;
  }
}

 .weather-main{
  margin-left: 7px;
  width: 99px;
  height: 42px;
  font-family: var(--third-font);
  font-size: 36px;
  line-height: 42px;
  color: var(--secondary-light-color);
  @media screen and (max-width: 767px) {
    // margin-left: 36px;
    font-size: 24px;
    line-height: 28px;
    width: 66px;
    height: 28px;
  }
 }

 .weather-icon {
   position: absolute;
   display: flex;
   width: 165px;
   height: 165px;
   mix-blend-mode: normal;
   margin-top: 215px;
   @media screen and (max-width: 767px) {
    // margin-left: 36px;
     margin-top: 150px;
     
  }

 }
 .weather-day{
  position: absolute;
  width: 199px;
  height: 42px;
  margin-top:461px;
  font-family: var(--third-font);
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  overflow-wrap: break-word ;
  color: var(--secondary-light-color);
  text-align: center;
  justify-content: center;
  @media screen and (max-width: 767px) {
    // margin-left: 36px;
     margin-top: 319px;
     font-size: 28px;
     line-height: 33px;
  }

 }
 
 .weather-data{
   position: absolute;
  width: 209px;
  height: 42px;
  margin-top:503px;
  font-family: var(--third-font);
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  color: var(--secondary-light-color);
  @media screen and (max-width: 767px) {
    // margin-left: 36px;
     margin-top: 352px;
     font-size: 28px;
     line-height: 33px;
  }
 }

 #search-box{
  width: 177px;
  height: 42px;
  border: none;
  background:  var(--weather-btn-color);
  border-radius: 10px;
  font-family: var(--third-font);
  font-size: 20px;
  line-height: 23px;
  color: var(--secondary-light-color);
  cursor: pointer;
  @media screen and (max-width: 767px) {
    font-size: 14px;
    line-height: 16px;
    width: 121px;
    height: 34px;
  }
 }
 #search-box:hover{
  color: #ffffff;
  background: #a8a8a8;
 }
 #search-box:focus,
 #search-box:active{
  color: #ffffff;
  background-color: red;
  border: none;
  border-bottom: 2px solid #eee;
 
  background: transparent;
  outline: none;
  font-size: 19px;
 }

 #search-box::placeholder {
  color: #ffffff;
  font-family: var(--third-font);
  margin-left: 50px;
  font-size: 20px;
  line-height: 23px;
}

 #search-box:placeholder-shown {
  border-color: #111321;
  
}
.icon-carbon_location-filled {
  display: inline-block;
  width: 24px;
  height: 14px;
    stroke-width: 0;
   stroke: currentColor;
   fill: currentColor;  
   color: #eee;
  fill:#ffffff;
  background-color: #111321;
}
// .btn__select-city{

//   width: 177px;
//   height: 42px;
//   border: none;
//   background:  var(--weather-btn-color);
//   border-radius: 10px;
//   font-family: var(--third-font);
//   font-size: 20px;
//   line-height: 23px;
//   color: var(--secondary-light-color);
//   cursor: pointer;
//   @media screen and (max-width: 767px) {
//     font-size: 14px;
//     line-height: 16px;
//     width: 121px;
//     height: 34px;
//   }
// }

.weather-week{
   position: absolute;
  width: 177px;
  height: 42px;
  margin-top:573px;
  border: none;
  background: var(--weather-btn-color);
  border-radius: 10px;
  font-family: var(--third-font);
  font-size: 20px;
  line-height: 23px;
  cursor: pointer;
  color: var(--secondary-light-color);
@media screen and (max-width: 767px) {
    font-size: 14px;
    line-height: 16px;
    width: 151px;
    height: 34px;
    margin-top:403px;
}
}


.icon-carbon_location-filled {
  display: inline-block;
  width: 14px;
  height: 14px;
  // stroke-width: 0;
  // stroke: currentColor;
   fill: currentColor;
  fill: red;
  background-color: black;
}

// ========