<footer class="footer">
  <form class="footer__login-form">
    <label>
      <span class="footer__form-text">Email</span>
      <input class="footer__form-input" type="email" name="email" />
    </label>
    <label>
      <span class="footer__form-text">Password</span>
      <input class="footer__form-input" type="password" name="password" />
    </label>
    <button class="js-button-login" type="submit">Login</button>
    <button class="js-button-login" id="logoff" type="button">Log off</button>
  </form>
  <div class="container">
    <div class="footer__wrap">
      <p class="footer__text">&copy; 2023 BEMS&trade;</p>
      <p class="footer__text">All rights reserved</p>
      <p class="footer__text">Thanks for reading us</p>
    </div>
  </div>
</footer>

<!-- <div class="modal__hidden">
  <form class="modal__form">
    <label>
      <span class="">Password</span>
      <input class="modal__password" type="password" name="password" />
    </label>
    <label>
      <span class="">Confirm password</span>
      <input class="footer__form-input" type="password" name="confirmation" />
    </label>
    <div class="">
      <button class="js-button-password" type="submit">Ok</button>
      <button class="js-button-password" type="button">Cancel</button>
    </div>
  </form>
</div> -->

<script type="module" src="./js/footer.js"></script>
